<!-- core/templates/core/create_order.html -->
{% extends 'core/base.html' %}

{% block content %}
  <h2>Create Order for {{ farm.name }}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    <table>
      {% for form in formset %}
        <tr>
          <td>{{ form.egg_batch.label_tag }}</td>
          <td>{{ form.egg_batch }}</td>
          <td>{{ form.quantity.label_tag }}</td>
          <td>{{ form.quantity }}</td>
        </tr>
      {% endfor %}
    </table>
    <button type="submit">Submit Order</button>
  </form>
{% endblock %}
