<!-- core/templates/core/farm_detail.html -->
{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <h2>Username: {{ farm.farmer.farmerUsername }}</h2>
    <h2>Farm: {{ farm.name }}</h2>
    <p>Location: {{ farm.location }}</p>
    <p>Chicken population: {{ farm.numberOfhens }}</p>
    Total trays available: {{ total_stock }} Trays
    <p></p>

    <a href="{% url 'farm_update' farm.id %}">Edit Farm info</a> |
    <a href="{% url 'farm_list' %}">Back to Farm list</a>
</div>

<p>
    <h2>Egg Inventory</h2>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Date posted</th>
                </tr>
            </thead>
            <tbody>
                {% for inventory in egg_inventories %}
                <tr>
                    <td>{{ inventory.stock }}</td>
                    <td>{{ inventory.trayPrice }}</td>
                    <td>{{ inventory.posted_on }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No egg inventories found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
    </div>
</p>

<p>
    <h2>Farm Inventory</h2>
    <ul>
        {% for inventory in expense_inventories %}
        <table>
            <thead>
                <tr>
                    <th>Particulars</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Action</th> <!-- Added for the View details link -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ inventory.particulars }}</td>
                    <td>{{ inventory.quantity }}</td>
                    <td>{{ inventory.unitPrice }}</td>
                    <td><a href="{% url 'expense_inventory_detail' inventory.pk %}">View details</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No expense inventories found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'expense_inventory_new' farm.id %}">
            <button class="btn btn-primary">Add Item</button>
        </a>
        <br><br>
    </ul>
</p>

{% endblock %}
